<div class="busqueda">
  <app-search (changeSearch)="cambioBusqueda($event)"> </app-search>
  <div *ngIf="valorBusqueda" class="searchBar">
   <h3> {{valorBusqueda}} </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="productos">
      <h3>Productos</h3>
      <table class="table customT">
        <thead>
          <tr class="bg-primary">
              <th>#</th>
              <th>Producto</th>
              <th>Tipo</th>
              <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
            <tr class="table-info" *ngFor="let producto of productos; let i = index">
                <td>{{i+1}}</td>
                <td>{{producto.name}}</td>
                <td>{{producto.tipo}}</td>
                <td>
                  <!-- CAMBIAR i POR INDEX DEL ELEMENTO  -->
                  <button (click)="editar(producto.name)" class="btn btn-primary">
                    Editar
                  </button>
                  <button class="btn btn-danger">
                    Eliminar
                  </button>
                </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>