<app-preloader *ngIf="!productos"></app-preloader>

<div class="busqueda" *ngIf="productos">
    <app-search type="nombre" (changeSearch)="cambioBusqueda($event)"> </app-search>
    <div *ngIf="valorBusqueda" class="searchBar">
        <h3> {{valorBusqueda}} </h3>
    </div>
</div>
<div class="nuevo">
    <h3>Publicar producto</h3>
    <button [routerLink]="['/producto','nuevo']" class="btn btn-primary">Crear</button>
</div>
<div *ngIf="productos" class="row">
    <div class="col-md-12">
        <div class="productos">
            <h3 *ngIf="!valorBusqueda">Productos  pagina:{{page}}</h3>
            <table class="table customT">
                <thead>
                    <tr class="bg-primary">
                        <th>#</th>
                        <th>Producto</th>
                        <th>Tipo</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-info" *ngFor="let producto of productos; let i = index">
                        <td>{{getIndex(i)}}</td>
                        <td>{{producto.name}}</td>
                        <td>{{producto.tipo}}</td>
                        <td>
                            
                            <button (click)="editar(producto.name, producto.tipo)" class="btn btn-primary">
                              Editar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="botonesP">
            <button class="btn btn-primary" (click)="anterior()">Anterior</button>
            <button class="btn btn-primary" (click)="siguiente()">Siguiente</button>
        </div>    
</div>