.menu {
    display: flex;
    flex-flow: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 30px;
    width: 80%;
}

.menu tr:hover{
    background-color: #ccc;
}