<app-preloader *ngIf="loading"></app-preloader>
<div *ngIf="!loading" class="menu">
  <h3>Ofertas y paquetes actuales</h3>
  <table style="width:100%; text-align: center;" class="table">
    <thead>
      <tr class="table-primary">
        <th>#</th>
        <th>Oferta</th>
        <th>Precio</th>
        <th>Vencimiento</th>
      </tr>
    </thead>
    <tbody>
      <tr class="pointer" *ngFor="let producto of paquetes; let i = index;" (click)="activar(i)">
          <td>{{i+1}}</td>
          <td>{{producto.name}}</td>
          <td>{{producto.precio.publico}}</td>
          <td>{{producto.fecha | date}}</td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/paquetes" class="btn btn-primary">Crear nuevo paquete</button>
</div>
<app-paquetes-modal 
[clase]="clase" vista="vista" [nombresProductos]="nombresProductos" [paquete]="paquete" 
(cerrado)="cerrarModal($event)"></app-paquetes-modal>