<div class="back-black animated fadeIn" [ngClass]="_modalSearch.classShow">
    <div class="modal" style="display: inline-block; background-color: rgba(0, 0, 0, .5)" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <!-- #region Cabecera Modal-->
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Nuevo Producto</h5>
                    <button (click)="hiddeModal()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- #endregion -->

                <!-- #region Modal del Formulario-->
                <div class="modal-body text-center">

                    <!-- #region Formulario-->
                    <form ngNativeValidate #f="ngForm" class="forms-sample">

                        <!-- #region Preloader-->
                        <div class="row">
                            <div class="col-md-12">
                                <app-preloader *ngIf="!tipos"></app-preloader>
                            </div>
                        </div>
                        <!-- #endregion -->

                        <div class="row justify-content-center align-items-center" *ngIf="tipos">
                            <div class="form-group col col-md-4">
                                <label for="exampleFormControlSelect2">Elegir tipo de producto</label>
                                <select [(ngModel)]="tipo" name="tipo" (change)="selected($event.target.value)" class="form-control" id="exampleFormControlSelect2">
                                    <option value="" disabled>Elegir producto</option>
                                    <option *ngFor="let tipo of tipos" [value]="tipo.name">{{tipo.name}}</option>
                                </select>
                            </div>
                        </div>

                        <!-- #region Tabla de Productos-->
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card" *ngIf="addListProducts.length > 0">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>Producto</th>
                                                        <th>Precio</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody style="max-height: 200px">
                                                    <tr *ngFor="let producto of addListProducts">
                                                        <td>
                                                            <div class="form-group" style="margin-bottom: 0 !important;">
                                                                <div class="form-check">
                                                                    <label class="form-check-label">
                                                                      <input [checked]="producto.isAdd" (change)="producto.isAdd = !producto.isAdd" name="local" type="checkbox" class="form-check-input">
                                                                      <i class="input-helper"></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>{{producto.producto.name}}</td>
                                                        <td>
                                                            <ng-container [ngSwitch]="tipo_precio">
                                                                <ng-container *ngSwitchCase="tipoCliente.PUBLICO">{{producto.producto.precio.publico}}</ng-container>
                                                                <ng-container *ngSwitchCase="tipoCliente.DISTRIBUIDOR_OCASIONAL">{{producto.producto.precio.distribuidor_ocasional}}</ng-container>
                                                                <ng-container *ngSwitchCase="tipoCliente.DISTRIBUIDOR_PREFERENCIAL">{{producto.producto.precio.distribuidor_preferencial}}</ng-container>
                                                            </ng-container>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- #endregion -->

                    </form>
                    <!-- #endregion -->

                    <!-- #region Footer Modal-->
                    <div class="modal-footer">
                        <button (click)="addProducts()" type="button" class="btn btn-primary">Agregar producto</button>
                        <button (click)="hiddeModal()" type="button" class="btn btn-secondary">Cancelar</button>
                    </div>
                    <!-- #endregion -->

                </div>
            </div>
        </div>
    </div>