<!-- #region Navbar-->
<app-navbar></app-navbar>
<!-- #endregion -->

<div class="container-fluid page-body-wrapper">

    <!-- #region Sidebar -->
    <app-sidebar></app-sidebar>
    <!-- #endregion -->

    <div class="main-panel">

        <div class="content-wrapper">
            <router-outlet></router-outlet>
        </div>

        <!-- #region Footer-->
        <app-footer></app-footer>
        <!-- #endregion -->
    </div>
</div>

<!--The content below is only a placeholder and can be replaced.-->