<div class="container-fluid">

    <!-- #region Titulo-->
    <div class="row" *ngIf="cliente">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 *ngIf="nuevo" class="subtitle">Crear Cotización</h1>
                    <h1 *ngIf="!nuevo" class="subtitle">Editar Cotización</h1>
                    <h3 class="card-title">Para: {{cliente.nombre}} - {{cliente.estado}}</h3>
                    <hr>
                    <h1 class="card-title">Fecha: {{cotizacion.id}}</h1>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group col col-md-4">
                        <label for="exampleFormControlSelect2">Tipo de Cliente</label>
                        <select [(ngModel)]="tipo_precio" name="tipo_precio" (change)="tipo_precio = +($event.target.value)" class="form-control" id="exampleFormControlSelect2">
                            <option [value]="TipoCliente.PUBLICO">Publico</option>
                            <option [value]="TipoCliente.DISTRIBUIDOR_OCASIONAL">Distribuidor Ocasional</option>
                            <option [value]="TipoCliente.DISTRIBUIDOR_PREFERENCIAL">Distribuidor Preferencial</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- #region Tablas-->
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <app-table-cotizador [nuevoTable]="nuevo" [cotizacionSet]="cotizacion" (cotizacionSend)="sendCotizacion($event)" [tipo_precio]="tipo_precio"></app-table-cotizador>
                </div>
            </div>
        </div>
    </div>
    <!-- #endregion -->

</div>

<app-modal-search [tipo_precio]="tipo_precio"></app-modal-search>