<app-preloader *ngIf="loading"></app-preloader>
<div *ngIf="!loading" class="contenido">
  
  <div class="fila">
    <h3 class="center">Elija dos o mas productos</h3>
  </div>
  <div class="columna menu">
    <app-lista *ngFor="let tipo of segmentacion | items" class="seleccion" listName={{tipo[0].tipo}} (changeElement)="cambiar($event)" ></app-lista>
  </div>
  
  <div class="botonera">
    <button (click)="siguiente()" [disabled]="paquete.length < 2" class="btn btn-primary">Siguiente</button>    
  </div>

</div>

<app-paquetes-modal [clase]="clase" [nombresProductos]="nombresProductos" [paquete]="paquete" (cerrado)="cerrarModal($event)"></app-paquetes-modal>