<div class="fondoNegro animated fadeIn"  [ngClass]="clase">
  <div class="modal" style="display: block" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Paquete</h5>
          <button
          (click)="cerrarModal()"
          type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          
          <h1>Productos del paquete: </h1>
          <ol>
            <li *ngFor="let producto of nombresProductos">{{producto}}</li>
          </ol>

          <form (ngSubmit)="guardar(forma)" #forma="ngForm">
            <div class="form-group">
              <label>Precio</label>
              <input required [(ngModel)]="nuevoPaquete.precio.publico" name="public" type="number" class="form-control" placeholder="precio">
            </div>
            <div class="form-group">
              <label>Precio distribuidor</label>
              <input required [(ngModel)]="nuevoPaquete.precio.distribuidor_ocasional" name="distribuidor" type="number" class="form-control" placeholder="distribuidor">
            </div>
            <div class="form-group">
              <label>Precio preferencial</label>
              <input required [(ngModel)]="nuevoPaquete.precio.distribuidor_preferencial" name="preferencial" type="number" class="form-control" placeholder="preferencial">
            </div>

            <button class="btn btn-primary" [disabled]="precio">Guardar</button>
          </form>

        </div>
        <div class="modal-footer">
          <button
          (click)="cerrarModal()"
          type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>