/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}
.hide {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.td-input-number {
    width: 200px;
    &>.row>.col {
        padding: 0 !important;
    }
}

.pointer {
    cursor: pointer;
}

.center {
    text-align: center;
}

.fila {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: auto;
}

.columna {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
}

.columna button {
    width: 15%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.none {
    display: none;
}
.volver {
    margin-bottom: 30px;
}