<div class="table-responsive" *ngIf="lista.length > 0">
    <table class="table table-shopping">

        <!-- #region Cabecera de la tabla-->
        <thead class="">

            <th>#</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Importe</th>
            <th class="text-right">Acciones</th>

        </thead>
        <!-- #endregion -->

        <!-- #region Cuerpo de la Tabla-->
        <tbody>
            <tr *ngFor="let item of lista; let i=index">
                <td>{{i+1}}</td>
                <td class="producto_name">{{item.producto.name}}</td>
                <td class="td-input-number">
                    <div class="row">
                        <div class="col col-sm-6">
                            <input #inputCantidad (keyup)="change(item, $event)" class="form-control" [value]="item.cantidad" type="number" min="1" name="cantidad" id="cantidad">
                        </div>
                        <div class="col col-sm-6">
                            <div class="btn-group">
                                <button (click)="changeItemCantidad(item, -1)" class="btn btn-primary btn-sm"> <i class="mdi mdi-minus"></i> </button>
                                <button (click)="changeItemCantidad(item, 1)" class="btn btn-primary btn-sm"> <i class="mdi mdi-plus"></i> </button>
                            </div>
                        </div>
                    </div>

                </td>
                <td>
                    <ng-container [ngSwitch]="tipo_precio">
                        <ng-container *ngSwitchCase="TipoCliente.PUBLICO">${{item.producto.precio.publico}}</ng-container>
                        <ng-container *ngSwitchCase="TipoCliente.DISTRIBUIDOR_OCASIONAL">${{item.producto.precio.distribuidor_ocasional}}</ng-container>
                        <ng-container *ngSwitchCase="TipoCliente.DISTRIBUIDOR_PREFERENCIAL">${{item.producto.precio.distribuidor_preferencial}}</ng-container>
                    </ng-container>
                </td>
                <td>
                    <ng-container [ngSwitch]="tipo_precio">
                        <ng-container *ngSwitchCase="TipoCliente.PUBLICO">${{item.cantidad * item.producto.precio.publico}}</ng-container>
                        <ng-container *ngSwitchCase="TipoCliente.DISTRIBUIDOR_OCASIONAL">${{item.cantidad * item.producto.precio.distribuidor_ocasional}}</ng-container>
                        <ng-container *ngSwitchCase="TipoCliente.DISTRIBUIDOR_PREFERENCIAL">${{item.cantidad * item.producto.precio.distribuidor_preferencial}}</ng-container>
                    </ng-container>
                </td>
                <td class="text-right">
                    <button (click)="removeItem(item)" type="button" data-placement="left" title="Remove item" class="btn btn-sm btn-danger">
                            <i class="mdi mdi-close"></i>
                    </button>
                </td>
            </tr>

            <!-- #region Subtotal-->
            <tr>
                <td class="td-buttom-5"></td>
                <td class="td-buttom-5"></td>
                <td class="td-buttom-5"></td>
                <td class="text-right td-buttom-5"><strong>Subtotal:</strong></td>
                <td class="td-buttom-5">${{subtotal}}</td>

            </tr>
            <!-- #endregion -->

            <!-- #region Envío-->
            <tr>
                <td class="td-buttom-5 td-top-5"></td>
                <td class="td-buttom-5 td-top-5"></td>
                <td class="td-buttom-5 td-top-5"></td>
                <td class="text-right td-buttom-5 td-top-5"><strong>Costo de Envío:</strong></td>
                <ng-container *ngIf="enviogratis; else elseTemplate">
                    <td class="td-buttom-5 td-top-5">Envío Gratis</td>
                </ng-container>
                <ng-template #elseTemplate>
                    <td class="td-buttom-5 td-top-5">$150</td>
                </ng-template>

            </tr>
            <!-- #endregion -->


            <!-- #region Celda para el Total de Compra-->
            <tr>
                <td class=" td-buttom-5 td-top-5"></td>
                <td class=" td-buttom-5 td-top-5"></td>
                <td class=" td-buttom-5 td-top-5"></td>
                <td class="text-right td-buttom-5 td-top-5"><strong>Total:</strong></td>
                <td class=" td-buttom-5 td-top-5" class="">${{cotizacion.totalCompra}}</td>
            </tr>
            <!-- #endregion -->
        </tbody>
        <!-- #endregion -->

    </table>
</div>

<div class="row">
    <div class="col-md-4 offset-md-8">
        <button (click)="showModal()" class="btn btn-success btn-block"><i class="mdi mdi-plus"></i> Agregar Producto</button>
    </div>
</div>

<div class="row" *ngIf="lista.length > 0">
    <div class="col-md-4 offset-md-8" style="margin-top: 20px;">
        <button (click)="saveCotizacion()" *ngIf="nuevo" class="btn btn-primary btn-block">Enviar Cotización <i class="mdi mdi-send"></i> </button>
        <button (click)="saveCotizacion()" *ngIf="!nuevo" class="btn btn-primary btn-block">Actualizar Cotización </button>
    </div>
</div>