 tr {
     .td-buttom-5 {
         padding-bottom: 5px !important;
     }
     .td-top-5 {
         padding-top: 5px !important;
     }
     .producto_name {
         white-space: inherit !important;
     }
 }
 
 .tr-print {
     td {
         font-size: 20px;
         color: #000 !important;
     }
 }
 
 .thead-print {
     th {
         font-size: 25px !important;
         color: blue !important;
     }
 }