<!-- #region Preloader-->
<app-preloader *ngIf="!cotizaciones"></app-preloader>
<!-- #endregion -->

<div class="row" *ngIf="cotizaciones">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cotizaciones</h4>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Nombre del cliente</th>
                                <th>Destino</th>
                                <th>Estatus</th>
                                <th>Monto</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cotizacion of cotizaciones">
                                <td>{{cotizacion.id}}</td>
                                <td>{{cotizacion.cliente.nombre}}</td>
                                <td>{{cotizacion.cliente.estado}}</td>
                                <td>
                                    <label [class]="cotizacion.status | estatusPedidoColor" class="badge badge-warning">{{cotizacion.status | estatusPedido}}</label>
                                </td>
                                <td>${{cotizacion.totalCompra}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-primary btn-sm"> <i class="mdi mdi-minus"></i> </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer text-muted">
                <nav aria-label="Page navigation example" *ngIf="nextDates != undefined || nextDates != null">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" (click)="getCotizaciones()" tabindex="-1">Cargar más</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>